#progress-circle {
  margin-top: 5px;
  transform: rotate(-90deg);
}

.timer-text {
  transform: rotate(90deg);
  transform-origin: center;
  font-size: 36px;
  text-anchor: middle;
  font-weight: 600;
  fill: #333;
}

.card-content {
  height: 100%;
  width: 100%;
  height: 40vh;
  width: 100vw;
  margin: 0;
}

// ion-card {
//   display: flex;
//   flex-direction: column;
//   width: 100% !important;
// }

// ion-card strong {
//   font-size: 20px;
//   line-height: 26px;
// }