#progress-circle {
    margin-top: 50px;
    transform: rotate(-90deg);
}

.timer-text {
    transform: rotate(90deg);
    transform-origin: center;
    font-size: 36px;
    text-anchor: middle;
    font-weight: 600;
    fill: #333;
}

ion-card {
    height: 10vh;
    --background: #000;
    --color: #9efff0;
  }
  
  ion-card strong {
    font-size: 20px;
    line-height: 26px;
  }